@page
@model WebApplication.Pages.Persona.GridModel
@{
}


<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            Persona
        </div>
        <div class="card-body">

            <a class="btn btn-primary" asp-page="Edit">
                <i class='bx bx-add-to-queue'></i>
            </a>

            <div class="row">
                <div class="col-12">
                    <table id="GridView" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Cedula</th>
                                <th>Nombre</th>
                                <th>Primer Apellido </th>
                                <th>Segundo Apellido</th>
                                <th>Fecha Nacimiento</th>
                                <th>Telefono</th>
                                <th>Direccion</th>
                                <th>Estado</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.GridList)
                            {
                            <tr>
                                <td>@item.IdPersona</td>
                                <td>@item.Cedula</td>
                                <td>@item.Nombre</td>
                                <td>@item.Primer_Apellido</td>
                                <td>@item.Segundo_Apellido</td>
                                <td>@item.FechaNacimiento.ToString("dd/MM/yyyy")</td>
                                <td>@item.Telefono</td>
                                <td>@item.Direccion</td>
                                <td>@(item.Estado?"Activo":"Inactivo")</td>
                                <td>
                                    <a class="btn btn-primary" asp-page="Edit" asp-route-id="@item.IdPersona">
                                        <i class='bx bx-edit-alt'></i>
                                    </a>
                                    <button type="button" class="btn btn-primary"
                                            onclick="PersonaGrid.OnClickEliminar(@item.IdPersona)">
                                        <i class='bx bx-trash'></i>
                                    </button>
                                </td>
                            </tr>

                            }

                        </tbody>
                    </table>


                </div>
            </div>


        </div>
    </div>

</div>

@section Scripts{
    <script>
        var MensajeApp = "@Html.Raw(Model.Mensaje)";
    </script>
    <script defer src="~/App/Persona/Grid.js"></script>

}

